{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
Connexion
{% endblock %}

{% block fos_user_content %}
<div class="page-header">
  <h1>{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</h1>
</div>
{% if error %}
  <div>{{ error }}</div>
{% endif %}
<form action="{{ path('fos_user_security_check') }}" method="post">
    <div class="clearfix">
      <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
      <div class="input">
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
      </div>
    </div>

    <div class="clearfix">
      <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
      <div class="input">
        <input type="password" id="password" name="_password" />
      </div>
    </div>

    <div class="clearfix">
      <div class="input">
        <ul class="inputs-list">
          <li>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
          </li>
        </ul>
      </div>
    </div>

    <div class="actions">
      <input type="submit" class="btn primary" name="login" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
    </div>
</form>
{% endblock %}
