{% extends "AdmingeneratorGeneratorBundle::base_admin_assetic_less.html.twig" %}

{% block stylesheets %}    {{ parent() }}
    {% endblock %}

{% block javascripts %}    {{ parent() }}
    {% endblock %}    {% block title %}
        {{ parent() }} - You're editing the object "{{ User.username }}"
    {% endblock %}
{% block body %}    {% block page_title %}
        <head>
            <h1>You're editing the object "{{ User.username }}"</h1>
        </head>
    {% endblock %}
{% block form_tabs %}
{% endblock %}


    <div class="admin_form">
    {% block form %}
    <form
        {% if User.Id %}
            action="{{ path("Deuteron_Bundle_UserBundle_User_update", { 'pk': User.Id }) }}"
        {% else %}
            action="{{ path("Deuteron_Bundle_UserBundle_User_create") }}"
        {% endif %}
        method="post" {{ form_enctype(form) }}>

        {{ form_errors(form) }}

        {% block form_fieldset_NONE %}
        <fieldset class="form_block form_fieldset_NONE">
            <div class="form_row">
                                                <div class="form_field field_integer field_id">
                    {% block form_id %}

                        <div class="error">
                            {{ form_errors(form['id']) }}
                        </div>

                        {{ form_label(form['id'], 'Id') }}

                        {{ form_widget(form['id']) }}{% endblock %}
                </div>
                                </div>
            <div class="form_row">
                                                <div class="form_field field_text field_username">
                    {% block form_username %}

                        <div class="error">
                            {{ form_errors(form['username']) }}
                        </div>

                        {{ form_label(form['username'], 'Username') }}

                        {{ form_widget(form['username']) }}{% endblock %}
                </div>
                                </div>
            <div class="form_row">
                                                <div class="form_field field_text field_username_canonical">
                    {% block form_username_canonical %}

                        <div class="error">
                            {{ form_errors(form['username_canonical']) }}
                        </div>

                        {{ form_label(form['username_canonical'], 'Username canonical') }}

                        {{ form_widget(form['username_canonical']) }}{% endblock %}
                </div>
                                </div>
            <div class="form_row">
                                                <div class="form_field field_text field_email">
                    {% block form_email %}

                        <div class="error">
                            {{ form_errors(form['email']) }}
                        </div>

                        {{ form_label(form['email'], 'Email') }}

                        {{ form_widget(form['email']) }}{% endblock %}
                </div>
                                </div>
            <div class="form_row">
                                                <div class="form_field field_text field_email_canonical">
                    {% block form_email_canonical %}

                        <div class="error">
                            {{ form_errors(form['email_canonical']) }}
                        </div>

                        {{ form_label(form['email_canonical'], 'Email canonical') }}

                        {{ form_widget(form['email_canonical']) }}{% endblock %}
                </div>
                                </div>
            <div class="form_row">
                                                <div class="form_field field_checkbox field_enabled">
                    {% block form_enabled %}

                        <div class="error">
                            {{ form_errors(form['enabled']) }}
                        </div>

                        {{ form_label(form['enabled'], 'Enabled') }}

                        {{ form_widget(form['enabled']) }}{% endblock %}
                </div>
                                </div>
            <div class="form_row">
                                                <div class="form_field field_text field_salt">
                    {% block form_salt %}

                        <div class="error">
                            {{ form_errors(form['salt']) }}
                        </div>

                        {{ form_label(form['salt'], 'Salt') }}

                        {{ form_widget(form['salt']) }}{% endblock %}
                </div>
                                </div>
            <div class="form_row">
                                                <div class="form_field field_text field_password">
                    {% block form_password %}

                        <div class="error">
                            {{ form_errors(form['password']) }}
                        </div>

                        {{ form_label(form['password'], 'Password') }}

                        {{ form_widget(form['password']) }}{% endblock %}
                </div>
                                </div>
            <div class="form_row">
                                                <div class="form_field field_datetime field_last_login">
                    {% block form_last_login %}

                        <div class="error">
                            {{ form_errors(form['last_login']) }}
                        </div>

                        {{ form_label(form['last_login'], 'Last login') }}

                        {{ form_widget(form['last_login']) }}{% endblock %}
                </div>
                                </div>
            <div class="form_row">
                                                <div class="form_field field_checkbox field_locked">
                    {% block form_locked %}

                        <div class="error">
                            {{ form_errors(form['locked']) }}
                        </div>

                        {{ form_label(form['locked'], 'Locked') }}

                        {{ form_widget(form['locked']) }}{% endblock %}
                </div>
                                </div>
            <div class="form_row">
                                                <div class="form_field field_checkbox field_expired">
                    {% block form_expired %}

                        <div class="error">
                            {{ form_errors(form['expired']) }}
                        </div>

                        {{ form_label(form['expired'], 'Expired') }}

                        {{ form_widget(form['expired']) }}{% endblock %}
                </div>
                                </div>
            <div class="form_row">
                                                <div class="form_field field_datetime field_expires_at">
                    {% block form_expires_at %}

                        <div class="error">
                            {{ form_errors(form['expires_at']) }}
                        </div>

                        {{ form_label(form['expires_at'], 'Expires at') }}

                        {{ form_widget(form['expires_at']) }}{% endblock %}
                </div>
                                </div>
            <div class="form_row">
                                                <div class="form_field field_text field_confirmation_token">
                    {% block form_confirmation_token %}

                        <div class="error">
                            {{ form_errors(form['confirmation_token']) }}
                        </div>

                        {{ form_label(form['confirmation_token'], 'Confirmation token') }}

                        {{ form_widget(form['confirmation_token']) }}{% endblock %}
                </div>
                                </div>
            <div class="form_row">
                                                <div class="form_field field_datetime field_password_requested_at">
                    {% block form_password_requested_at %}

                        <div class="error">
                            {{ form_errors(form['password_requested_at']) }}
                        </div>

                        {{ form_label(form['password_requested_at'], 'Password requested at') }}

                        {{ form_widget(form['password_requested_at']) }}{% endblock %}
                </div>
                                </div>
            <div class="form_row">
                                                <div class="form_field field_checkbox field_credentials_expired">
                    {% block form_credentials_expired %}

                        <div class="error">
                            {{ form_errors(form['credentials_expired']) }}
                        </div>

                        {{ form_label(form['credentials_expired'], 'Credentials expired') }}

                        {{ form_widget(form['credentials_expired']) }}{% endblock %}
                </div>
                                </div>
            <div class="form_row">
                                                <div class="form_field field_datetime field_credentials_expire_at">
                    {% block form_credentials_expire_at %}

                        <div class="error">
                            {{ form_errors(form['credentials_expire_at']) }}
                        </div>

                        {{ form_label(form['credentials_expire_at'], 'Credentials expire at') }}

                        {{ form_widget(form['credentials_expire_at']) }}{% endblock %}
                </div>
                                </div>
            <div class="form_row">
                                                <div class="form_field field_collection field_roles">
                    {% block form_roles %}

                        <div class="error">
                            {{ form_errors(form['roles']) }}
                        </div>

                        {{ form_label(form['roles'], 'Roles') }}

                        
    <div class="type_collection" id="type_collection_roles">{{ form_widget(form['roles']) }}        <ul class="actions">
            <li>
                <a class="new">{% trans from "Admingenerator" %}form.type_collection.add{% endtrans %}</a>
            </li>
        </ul>
            </div>

        <script type="text/javascript">
    $(document).ready(function() {

                type_collection_roles_nextId = $('#edit_user_roles > div').length;

        $('#type_collection_roles .new').click(function() {
           var prototype = $('#edit_user_roles').data('prototype');
           prototype = prototype.replace(/__name__label__/g, "type_collection_roles_nextId");
           prototype = prototype.replace(/__name__/g, type_collection_roles_nextId);
           type_collection_roles_nextId++;
           $('#edit_user_roles').append(prototype);

                      $('#edit_user_roles > div:last').append("<a class=\"delete\"> </a>");

           $('#edit_user_roles .delete').click(function() { //@todo make a function for this
               $(this).parent('div').remove();
            });
                   });
        
                    $('#edit_user_roles > div').append("<a class=\"delete\"> </a>");

            $('#edit_user_roles .delete').click(function() {
               $(this).parent('div').remove();
            });
            });
    </script>
    
{% endblock %}
                </div>
                                </div>
        </fieldset>
        {% endblock %}

        {{ form_rest(form) }}

        {% block form_actions %}
         <ul class="form_actions actions">
                  
         <li>
          
            <a class="list" href="{{ path("Deuteron_Bundle_UserBundle_User_list") }}"

          >{% trans from "Admingenerator" %}List{% endtrans %}</a></li>

          
        </ul>
        {% endblock %}


        {% block form_buttons %}
        <ul class="actions">
            <li>
                 <input type="submit" class="submit_button" value="{% trans from "Admingenerator" %}form.btn_save{% endtrans %}" />
            </li>
        </ul>
        {% endblock %}
    </form>
    {% endblock %}
</div>

{% endblock %}
