{% extends "FOSUserBundle::base.html.twig" %}

{% block title %}
Connexion
{% endblock %}

{% block fos_user_content %}
<section class="row">
    <div class="span4 offset4" id="login_container">
        <div class="page-header">
            <h1>{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</h1>
        </div>
        {% if error %}
            <div>{{ error }}</div>
        {% endif %}

        <form action="{{ path('fos_user_security_check') }}" method="post" class="form-horizontal">
            <fieldset>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="control-group">
                    <label for="username" class="control-label">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="fam_email"></i></span><input class="span2" type="text" id="username" name="_username" value="{{ last_username }}" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label for="password" class="control-label">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="fam_key"></i></span><input class="span2" type="password" id="password" name="_password" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label for="remember_me" class="control-label"></label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                        </label>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn" name="login"><i class="fam_lock_open"></i>{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
                </div>
            </fieldset>
        </form>
    </div>
</section>
{% endblock %}
