{% if pageCount > 1 %}
<nav class="pagination">
    <ul>
    {% if first is defined and current != first %}
        <li class="first"><a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&larr;&larr;</a></li>
    {% endif %}

    {% if previous is defined %}
        <li class="prev"><a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&larr;</a></li>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <li><a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
        {% else %}
            <li class="active"><a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
        {% endif %}

    {% endfor %}

    {% if next is defined %}
        <li class="next"><a href="{{ path(route, query|merge({(pageParameterName): next})) }}">&rarr;</a></li>
    {% endif %}

    {% if last is defined and current != last %}
        <li class="last"><a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&rarr;&rarr;</a></li>
    {% endif %}
    </ul>
</nav>
{% endif %}

{#<nav class="pagination">#}
  {#<ul>#}
    {#<li class="first"><a href="{{ path(url, urlParameters|merge({'page': paginator.getFirstPage})) }}">&larr; {{ label.firstLinkLabel }}</a></li>{% endif %}#}
    {#<li class="prev"><a href="{{ path(url, urlParameters|merge({'page': paginator.getPreviousPage})) }}">&larr; {{ label.previousLinkLabel }}</a></li>{% endif %}#}
    {#{% for link in paginator.getLinks %}#}
    {#<li {% if paginator.getPage == link %} class="active" {% endif %}><a href="{{ path(url, urlParameters|merge({'page': link})) }}">{{ link }}</a></li>#}
    {#{% endfor %}#}
    {#<li class="next"><a href="{{ path(url, urlParameters|merge({'page': paginator.getNextPage})) }}">{{ label.nextLinkLabel }} &rarr; </a></li>{% endif %}#}
    {#<li class="last"><a href="{{ path(url, urlParameters|merge({'page': paginator.getLastPage})) }}">{{ label.lastLinkLabel }} &rarr; </a></li>{% endif %}#}
  {#</ul>#}
{#</nav>#}