{% extends 'DeuteronUserBundle::layout.html.twig' %}

{% block title %}{{ app_name }} - Administration - Modification d'un utilisateur{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Modification d'un utlisateur</h1>
</div>

<form action="{{ path('user_edit', { 'id': user.id}) }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form) }}

    {{ form_row(form.username) }}

    {{ form_rest(form) }}

    <div>
        <button type="submit" name="valid" class="btn btn-primary">Modifier</button>
        <a href="{{ path('user_list') }}" class="btn" title="Annuler">Annuler</a>
    </div>
</form>
{% endblock %}

