{% if paginator.haveToPaginate %}

{% set disableStartLinks = paginator.isFirstPage %}
{% set disableEndLinks = paginator.isLastPage %}
<nav class="pagination">
  <ul>
    {% for link in paginator.getLinks %}
    <li {% if paginator.getPage == link %} class="active" {% endif %}><a href="{{ path(url, urlParameters|merge({'page': link})) }}">{{ link }}</a></li>
    {% endfor %}
    {% if not disableEndLinks or displayLastLinks %}<li class="next{% if disableEndLinks %} disabled{% endif %}"><a href="{{ path(url, urlParameters|merge({'page': paginator.getNextPage})) }}">{{ label.nextLinkLabel }} &rarr; </a></li>{% endif %}
    {% if not disableEndLinks or displayLastLinks %}<li class="last{% if disableEndLinks %} disabled{% endif %}"><a href="{{ path(url, urlParameters|merge({'page': paginator.getLastPage})) }}">{{ label.lastLinkLabel }} &rarr; </a></li>{% endif %}
  </ul>
</nav>
{% endif %}