{% extends 'DeuteronAdminBundle::base.html.twig' %}

{% block globalcontent %}
        <div class="row-fluid">

            <aside class="span3">
                <nav class="well" style="padding: 8px 0;">
                    {{ knp_menu_render('side', {'template': 'DeuteronAdminBundle:Menu:side_menu.html.twig', 'currentClass': 'active'}) }}
                </nav>
                <span id="app_version">&copy; {{ app_name }} - version {{ version() }}</span>
            </aside>

            <div class="span9">
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-{{ type }}">
                            <button class="close" data-dismiss="alert">×</button>
                            {{ flashMessage|trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block content %}
                    {% block fos_user_content %}{% endblock fos_user_content %}
                {% endblock %}
            </div>
        </div>
{% endblock%}
        