{% extends 'DeuteronAdminBundle::base.html.twig' %}

{% block globalcontent %}
        <div class="row-fluid">

            <aside class="span3">
                <nav class="well" style="padding: 8px 0;">
                    {{ knp_menu_render('side', {'template': 'DeuteronAdminBundle:Menu:side_menu.html.twig', 'currentClass': 'active'}) }}
                </nav>
                <span id="app_version">&copy; {{ app_name }} - version {{ version() }}</span>
            </aside>

            <div class="span9">
                {% for key, message in app.session.getFlashes() %}
                    <div class="{{ key }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endfor %}

                {% block content %}
                    {% block fos_user_content %}{% endblock fos_user_content %}
                {% endblock %}
            </div>
        </div>
{% endblock%}
        