{% extends 'DeuteronAdminBundle::base.html.twig' %}

{% block globalcontent %}
        <div class="row-fluid">

            <aside class="span3">
                <nav class="well" style="padding: 8px 0;">
                    <ul class="nav nav-list">
                        <li class="nav-header">Deuteron</li>
                        <li class="active"><a href="{{ path('admin_dashboard') }}"><i class="icon-white icon-home"></i> Overview</a></li>
                        <li><a href="{{ path('user_list')}}"><i class="icon-user"></i> Users</a></li>
                        <li class="nav-header">
                            Your Account
                        </li>
                        <li><a href="{{ path('fos_user_profile_show') }}" title="Voir son profil"><i class="icon-user"></i> Profile</a></li>
                    </ul>
                </nav>
                <span id="app_version">&copy; {{ app_name }} - version 0.1</span>
            </aside>

            <div class="span9">
                {% for key, message in app.session.getFlashes() %}
                    <div class="{{ key }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endfor %}

                {% block content %}
                    {% block fos_user_content %}{% endblock fos_user_content %}
                {% endblock %}
            </div>
        </div>
{% endblock%}
        